@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    color: #ef476f;
}
section{
    padding: 30px;}

h2{
    background-color: #ff99b1;
    color: #1b9aaa;
    text-align: center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.texto-negrita{
    font-weight: bold;
}
/* header*/
header{
    width:100%;
    height: 200px;
    background-color: #ff99b1;
color: #f8ffe5;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding: 20px;
}
header img{
    width: 180px;
    position: relative;
    align-self: center;
}

/*datos*/
.datos{
    height: auto;
    margin-top: 40px;
    text-align: center;
}

.datos ul{
text-align: left;
padding-left: 80px;
}

dl{
    padding-left: 80px;
}


footer{
    height: auto;
    background-color:  #1b9aaa;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
.footer a{
    color: #f8ffe5;
    padding: 20px;
    text-decoration: none;
}